{% extends 'base.html'%}
<!---->
{%block Terminal %} active {% endblock Terminal %}
<!---->
{% block content %} {% comment %}
<script
  type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"
></script>
<script type="text/javascript">
  $(function () {
    $("#button").click(function () {
      if (!$("#iframe").length) {
        $("#iframeHolder").html(
          '<iframe id="iframe" src="http://localhost:8888/" width="700" height="450"></iframe>'
        );
      }
    });
  });
</script>

<button id="button">Button</button>
<div id="iframeHolder"></div>
{% endcomment %} {% comment %} <button onclick="dosome()">button</button>
<!---->
{%endcomment %}
<br />
<iframe
  id="iframe"
  src="http://127.0.0.1:8888/"
  width="700"
  height="450"
  onload="javascript:dosome()"
></iframe>
<script>
  const myframe = document.getElementById("iframe");
  function dosome() {
    const iframeWindow = myframe.contentWindow;
    iframeWindow.postMessage(
      "{{entry.title}} | 22 | {{entry.username}} | {{entry.password}} | {{entry.notes}}",
      "*"
    );
    console.log();
  }
  dosome();
</script>

{% endblock content %}
<!---->
{%block options%}
<!---->
<option value="" selected disabled hidden>Host</option>
{% for item in entries %}
<!---->
<option value="{{item.title}}">{{item.title}}</option>
<!---->
{%endfor%}
<!---->
{%endblock options%}
